@import '../../assets/styles/colors.scss';

.post {
  &__container {
    width: 710px;
    margin: 0 auto 30px;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 600;
    color: $color-grey-3;
    margin-bottom: 30px;
  }

  &__content {
    font-weight: 300;
    color: $color-grey-3;
  }

  .top-bar {
    margin-bottom: 30px;
  }

  h2 {
    display: block;
    padding-right: 20px;
    margin-right: 65px;
    box-sizing: border-box;
  }
}