@import '../../assets/styles/colors.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  &__tile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}