@import '../../assets/styles/colors.scss';

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  width: 100%;

  h2 {
    color: $title-color;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    width: 100%;
  }

  svg {
    cursor: pointer;
    font-size: 20px;
    path {
      fill: $color-grey-2;
    }
  }  
}

.modal {
  h2 {
    margin-right: 0;
  }
}