@import '../../assets/styles/colors.scss';

.navigation {
  display: flex;
}

.circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: flex;
  background-color: $color-dark-0;
  margin-right: 10px;
  margin-bottom: 25px;
}

.placeholder {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: $color-dark-0;
  color: $anchor-color;
  margin-bottom: 55px;
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
  
  span {
    opacity: 0.2;
  }
}