@import '../../assets/styles/colors.scss';

.profile {
  &__posts-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .add-modal {
    display: flex;
    width: 34px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $color-white;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 1px;
    }
  }

  svg {
    cursor: pointer;
    font-size: 20px;
    path {
      fill: $color-grey-2;
    }
  } 
}