@import '../../assets/styles/colors.scss';

.comments {

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &--green {
    color: $title-color;
    text-decoration: underline;
    cursor: pointer;
  }
}