@import '../../assets/styles/colors.scss';

.post-item {
  width: 100%;
  height: 62px;
  margin-bottom: 15px;
  background-color: $color-grey-1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;

  p {
    font-size: 14px;
    color: $color-grey-2;
    padding-left: 20px;
    margin-right: auto;
  }

  svg {
    font-size: 18px;
    path {
      fill: $color-grey-2;
    }
  }
}