@import '../../assets/styles/colors.scss';

.comment {
  width: 710px;
  margin: 0 auto 15px;
  background-color: $color-dark-0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 17px 24px;
  border-radius: 10px;

  &__container {
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: $color-grey-3;

    &--white {
      font-weight: 600;
    }

    &--green {
      color: $title-color;
      font-weight: 600;
    }
  }
}