@import '../../assets/styles/colors.scss';

.anchor {
  font-size: 14px;
  color: $anchor-color;
  line-height: 19px;
  text-decoration: underline;
  outline: none;
  width: fit-content;
  cursor: pointer;
}