@import '../../assets/styles/colors.scss';

.tile {
  width: 244px;
  height: 325px;
  background: $tile-background;
  padding: 25px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-decoration: none;

  &__title {
    color: $title-color;
    font-size: 26px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__anchor-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 30px;
  }

  &__text {
    color: $color-grey-0;
    line-height: 18px;
    font-size: 14px;
  }

  &__button {
    margin-top: auto;
  }
}