$color-white: #ffffff;
$anchor-color: #efefef;
$color-grey-3: #f2f2f2;

$main-color: #303030;
$color-black: #000000;
$color-dark-0: #221f20;

$main-border-color: #a5a6a9;
$tile-background: #424242;
$tile-semi-transparent-background: rgba(66, 66, 66, 0.9);
$color-grey-0: #acacac;
$color-grey-1: #424242;
$color-grey-2: #acacac;

$title-color: #60cd6c;

$color-red-0: #ec0101;
