@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import "./reset.scss";
@import "./colors.scss";
@import "./variables.scss";

body {
  background-color: $main-color;
  font-family: "Source Sans Pro", sans-serif;
}

// main {
//   position: relative;
// }

.container {
  max-width: $container-width;
  margin: 100px auto;
  border: 7px solid $main-border-color;
  border-radius: 10px;
  padding: 20px 40px 60px;
  box-sizing: border-box;
}

.button {
  width: 196px;
  height: 42px;
  background-color: $color-white;
  color: $color-black;
  border-radius: 90px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: $tile-semi-transparent-background;

  &__container {
    width: 710px;
    margin: 200px auto 0;
    color: $color-white;
    border: 5px solid $main-border-color;
    border-radius: 10px;
    padding: 40px;
  }

  &__error {
    margin-top: 10px;
    color: $color-red-0;
    letter-spacing: 0.5px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 4px;
    }

    h3 {
      font-weight: 600;
      text-align: center;
      font-size: 24px;
    }
  }
}

input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

input {
  border: none;
  border-radius: 2px;
  padding: 0 15px;
  height: 30px;
  outline: none;
}

textarea {
  border: none;
  border-radius: 2px;
  padding: 15px;
  resize: none;
  height: 150px;
  outline: none;
}

.submit {
  width: 196px;
  height: 42px;
  margin: 0 auto;
  border-radius: 90px;
  border: none;
  background-color: $color-white;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
