@import "./mixins.scss";

@mixin md {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $large-tablet) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $desktop) {
    @content;
  }
}
